<div class="span3">

    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="{{ path('adminProduits') }}">Produits</a>
            </li>
            <li>
                <a href="{{ path('categories_index') }}">Catégories produits</a>
            </li>
        </ul>
    </div>

    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="{{ path('adminUtilisateurs') }}">Clients</a>
            </li>
            <li>
                <a href="{{ path('adminCommandes') }}">Commandes</a>
            </li>
        </ul>
    </div>

    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="{{ path('adminPages_index') }}">Pages</a>
            </li>

        </ul>
        <ul class="nav nav-list">
            <li>
                <a href="{{ path('adminPages_del') }}">Pages supprimer </a>
            </li>

        </ul>
    </div>

</div>