<div class="well">
    <ul class="nav nav-list">
        <li>
            <a href="{{ path('fos_user_profile_show') }}">Mes informations</a>
        </li>
        <li>
            <a href="{{ path('fos_user_profile_edit') }}">éditer Mes informations</a>
        </li>
        <li>
            <a href="{{ path('fos_user_change_password') }}">changer mon mot de passe</a>
        </li>
        <li>
            <a href="{{ path('facture') }}">Mes factures</a>
        </li>
        <li>
            <a href="{{ path('livraison') }}">Mes adresses</a>
        </li>
        <li>
            <a href="{{ path('fos_user_security_logout') }}">deconnexion</a>
        </li>
    </ul>
</div>